@page
@model HRPayRoll.Pages.Employee.CreateModel
@{

    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Employee.EmployeeName" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="Employee.EmployeeName" />
                </div>
                <div class="col-sm-3">
                    <span class="field-validation-valid text-danger" asp-validation-for="Employee.EmployeeName"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Employee.DateOfBirth" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="Employee.DateOfBirth" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Employee.TIN" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="Employee.TIN" />
                </div>
                <div class="col-sm-3">
                    <span class="field-validation-valid text-danger" asp-validation-for="Employee.TIN"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Employee.EmployeeType" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    @for (var i = 0; i < Model.EmployeeTypes.Count(); i++)
                    {
                        <div class="custom-control custom-radio custom-control-inline">
                            @if (Model.EmployeeTypes[i].IsDisabled)
                            {
                                <input type="radio" value="@Model.EmployeeTypes[i].EmployeeTypeDescription" class="custom-control-input" id="@Model.EmployeeTypes[i].EmployeeTypeID" asp-for="@Model.SelectedEmployeeTypes" disabled />
                            }
                            else
                            {
                                <input type="radio" value="@Model.EmployeeTypes[i].EmployeeTypeDescription" class="custom-control-input" id="@Model.EmployeeTypes[i].EmployeeTypeID" asp-for="@Model.SelectedEmployeeTypes" />
                            }
                            <label class="custom-control-label" for="@Model.EmployeeTypes[i].EmployeeTypeID">
                                @Model.EmployeeTypes[i].EmployeeTypeDescription
                            </label>
                        </div>
                    }


                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </div>
    </form>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
